<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Size, Extension" />
        <httpErrors>
            <error statusCode="999" path="/wiki" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <clear />
                <add value=".htaccess" />
                <add value="index.php" />
                <add value="first.htm" />
                <add value="first.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.mp4" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="php&amp;html via fastcgi" path="*.html" verb="*" modules="FastCgiModule" scriptProcessor="C:\phpforwindows\php-cgi.exe" resourceType="File" />
            <add name="PHP via fastcgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\phpforwindows\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:00" statusCodes="403,502,408,401" />
                </add>
            </traceFailedRequests>
        </tracing>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="docconfig" />
                    <add segment=".vs" />
                    <add segment="idrive-sync" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <roleManager defaultProvider="AspNetWindowsTokenRoleProvider" enabled="true" />
        <membership defaultProvider="ij">
            <providers>
                <add name="ij" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" applicationName="impartial just" connectionStringName="LocalSqlServer" description="nope test only" enablePasswordReset="true" enablePasswordRetrieval="true" passwordFormat="Encrypted" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" />
            </providers>
        </membership>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\smtp" />
            </smtp>
        </mailSettings>
    </system.net>
    <connectionStrings>
        <remove name="LocalMySqlServer" />
        <remove name="LocalSqlServer" />
        <add connectionString="Server=localhost\SQLEXPRESS02;Database=master;Trusted_Connection=True;" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
